@model VK1.SCGE.Safety.Mvc.Dtos.UserLoginDto
<form class="form-inline" method="post">
    <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Username" asp-for="Username">
        <input class="form-control mr-sm-2" type="password" placeholder="Password" asp-for="Password">
        <button type="button" class="btn btn-success" id="btnLogin" onclick="return login()"> Sign in</button>
    </div>
</form>

