@{
    Layout = null;
}
<div class="card">
    <div class="card-body pt-0 pb-0">
        <div class="row pt-2 pb-0">
            <span class="text-muted"><i class="fa fa-filter"></i> ค้นหาโดย </span>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-2 ml-3 pt-3">
                <label for="truckInspectionDate">วันที่สร้างเอกสารCAR </label>
                <input id="datefrom" type="text" name="datefrom" />
                <input id="dateto" type="text" name="dateto" />
            </div>
            <label for="branchCode" class="mt-3 mx-3">สาขา </label>
            <div class="col-md-2" style="margin-top:-15px">
                <select name="branch" id="branch"
                        asp-items="@ViewBag.Branches"
                        class="mdb-select md-form" searchable="Search here..">
                    <option value="">--All--</option>
                </select>
            </div>
            <label class="mt-3 mx-3">CAR Status </label>
            <div class="col-md-2" style="margin-top:-15px">
                <select name="status" id="status"
                        asp-items="@ViewBag.Statuses"
                        class="mdb-select md-form" searchable="Search here..">
                    <option value="">--All--</option>
                </select>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-mdb-color" onclick="return fnAllCAR()">Search</button>
            </div>
        </div>
        <div class="row">
        </div>
    </div>
</div>

