<div style="width:1500px;overflow-x:visible;margin-left:0;">
    <ul id="slider">
        <li>
            <div class="d-flex justify-content-md-between">
                    <div id="chart1"></div>
                    @*<div id="chart8"></div>*@
                @*<div class="col-md-6">
                </div>
                <div class="col-md-6">
                </div>*@
            </div>
        </li>

        @*<li>
            <div class="row">
                <div class="col-md-6">
                    <div id="chart2"></div>
                </div>
                <div class="col-md-6">
                    <div id="chart9"></div>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-md-6">
                    <div id="chart3"></div>
                </div>
                <div class="col-md-6">
                    <div id="chart10"></div>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-md-6">
                    <div id="chart4"></div>
                </div>
                <div class="col-md-6">
                    <div id="chart11"></div>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-md-6">
                    <div id="chart5"></div>
                </div>
                <div class="col-md-6">
                    <div id="chart12"></div>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-md-6">
                    <div id="chart6"></div>
                </div>
                <div class="col-md-6">
                    <div id="chart13"></div>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-md-6">
                    <div id="chart7"></div>
                </div>
                <div class="col-md-6">
                    <div id="chart14"></div>
                </div>
            </div>
        </li>*@

    </ul>
</div>

@section Styles{
    <style>
        #slider {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            border: 10px solid transparent;
            padding: 0px;
            z-index: 100;
            overflow: hidden;
            white-space: nowrap;
            box-sizing: border-box;
        }

            #slider > li {
                width: 100%;
                height: 100%;
                position: relative;
                display: inline-block;
                overflow: hidden;
                font-size: 15px;
                font-size: initial;
                line-height: normal;
                transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1); /* Slide css animation */
                background-size: cover;
                vertical-align: top;
                box-sizing: border-box;
                white-space: normal;
            }
    </style>
}


@section Scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>

        // Load the Visualization API and the corechart package.
        google.charts.load('current', { 'packages': ['corechart'] });

        // globar variable for hold chart data
        var chartData;
        //var chartData2; var chartData3; var chartData4; var chartData5; var chartData6; var chartData7;
        //var chartData8; var chartData9; var chartData10; var chartData11; var chartData12; var chartData13;
        //var chartData14;
        var slideIndex = 0;
        //showSlides();

        // google.load("visualization", "1", { packages: ["corechart"] });

        // Here We will fill chartData

        $(document).ready(function () {
            //test box slide
            var boxWidth = $(".box").width();
            $(".slide-left").click(function () {
                $(".box").animate({
                    width: 0
                });
            });
            $(".slide-right").click(function () {
                $(".box").animate({
                    width: boxWidth
                });
            });

            //endtest
            //1
            var url = "https://localhost:44396/api/parcelapi/allCustQty";
            //var url = "https://scgexpresssafety.azurewebsites.net/api/parcelapi/allCustQty";

            $.get(url).then(res => {
                debugger;
                chartData = res;
                console.log(chartData);
            }).done(function () {
                google.setOnLoadCallback(drawChart);
                drawChart();
            });

            ////2
            //var url2 = "https://scgexpresssafety.azurewebsites.net/api/parcelapi/centralCustQty";
            //$.get(url2).then(res => {
            //    chartData2 = res;
            //}).done(function () {
            //    google.setOnLoadCallback(drawChart2);
            //    drawChart2();
            //});

            ////3
            //var url3 = "https://scgexpresssafety.azurewebsites.net/api/parcelapi/eastCustQty";
            //$.get(url3).then(res => {
            //    chartData3 = res;
            //}).done(function () {
            //    google.setOnLoadCallback(drawChart3);
            //    drawChart3();
            //});

            ////4
            //var url4 = "https://scgexpresssafety.azurewebsites.net/api/parcelapi/metroCustQty";
            //$.get(url4).then(res => {
            //    chartData4 = res;
            //}).done(function () {
            //    google.setOnLoadCallback(drawChart4);
            //    drawChart4();
            //});

            ////5
            //var url5 = "https://scgexpresssafety.azurewebsites.net/api/parcelapi/northCustQty";
            //$.get(url5).then(res => {
            //    chartData5 = res;
            //}).done(function () {
            //    google.setOnLoadCallback(drawChart5);
            //    drawChart5();
            //});

            ////6
            //var url6 = "https://scgexpresssafety.azurewebsites.net/api/parcelapi/northEastCustQty";
            //$.get(url6).then(res => {
            //    chartData6 = res;
            //}).done(function () {
            //    google.setOnLoadCallback(drawChart6);
            //    drawChart6();
            //});

            ////7
            //var url7 = "https://scgexpresssafety.azurewebsites.net/api/parcelapi/southCustQty";
            //$.get(url7).then(res => {
            //    chartData7 = res;
            //}).done(function () {
            //    google.setOnLoadCallback(drawChart7);
            //    drawChart7();
            //});

            ////8
            //var url8 = "https://scgexpresssafety.azurewebsites.net/api/parcelapi/allParcelQty";
            //$.get(url8).then(res => {
            //    chartData8 = res;
            //}).done(function () {
            //    google.setOnLoadCallback(drawChart8);
            //    drawChart8();
            //});

            ////9
            //var url9 = "https://scgexpresssafety.azurewebsites.net/api/parcelapi/centralParcelQty";
            //$.get(url9).then(res => {
            //    chartData9 = res;
            //}).done(function () {
            //    google.setOnLoadCallback(drawChart9);
            //    drawChart9();
            //});

            ////10
            //var url10 = "https://scgexpresssafety.azurewebsites.net/api/parcelapi/eastParcelQty";
            //$.get(url10).then(res => {
            //    chartData10 = res;
            //}).done(function () {
            //    google.setOnLoadCallback(drawChart10);
            //    drawChart10();
            //});

            ////11
            //var url11 = "https://scgexpresssafety.azurewebsites.net/api/parcelapi/metroParcelQty";
            //$.get(url11).then(res => {
            //    chartData11 = res;
            //}).done(function () {
            //    google.setOnLoadCallback(drawChart11);
            //    drawChart11();
            //});

            ////12
            //var url12 = "https://scgexpresssafety.azurewebsites.net/api/parcelapi/northParcelQty";
            //$.get(url12).then(res => {
            //    chartData12 = res;
            //}).done(function () {
            //    google.setOnLoadCallback(drawChart12);
            //    drawChart12();
            //});

            ////13
            //var url13 = "https://scgexpresssafety.azurewebsites.net/api/parcelapi/northEastParcelQty";
            //$.get(url13).then(res => {
            //    chartData13 = res;
            //}).done(function () {
            //    google.setOnLoadCallback(drawChart13);
            //    drawChart13();
            //});

            ////14
            //var url14 = "https://scgexpresssafety.azurewebsites.net/api/parcelapi/southParcelQty";
            //$.get(url14).then(res => {
            //    chartData14 = res;
            //}).done(function () {
            //    google.setOnLoadCallback(drawChart14);
            //    drawChart14();
            //});

        });

        //function drawChart14() {
        //    console.log(chartData14);
        //    var data = google.visualization.arrayToDataTable(chartData14);
        //    var view = new google.visualization.DataView(data);
        //    view.setColumns([0, 1,
        //        {
        //            calc: "stringify",
        //            sourceColumn: 1,
        //            type: "string",
        //            role: "annotation"
        //        },
        //        2, {
        //            calc: "stringify",
        //            sourceColumn: 2,
        //            type: "string",
        //            role: "annotation"
        //        }
        //        ,
        //        {
        //            calc: function (dt, row) {
        //                return 0;
        //            },
        //            label: "Total",
        //            type: "number",
        //        },
        //        {
        //            calc: function (dt, row) {
        //                return dt.getValue(row, 1) + dt.getValue(row, 2);
        //            },
        //            type: "number",
        //            role: "annotation"
        //        }
        //    ]);

        //    var options = {
        //        title: "South parcel of December 2020",
        //        animation: {
        //            duration: 1000,
        //            easing: 'out',
        //            startup: true
        //        },
        //        backgroundColor: 'transparent',
        //        legend: { position: 'top', maxLines: 3 },
        //        bar: { groupWidth: '75%' },
        //        pointSize: 5,
        //        isStacked: true,
        //        vAxis: {
        //            title: 'point',
        //        },
        //        width: 700,
        //        height: 500,
        //        series: {
        //            2: {
        //                annotations: {
        //                    stem: {
        //                        color: "transparent",
        //                        length: 28
        //                    },
        //                    textStyle: {
        //                        color: "#000000",
        //                    }
        //                },
        //                enableInteractivity: false,
        //                tooltip: "none",
        //                visibleInLegend: false
        //            }
        //        },
        //        chartArea: { left: 20, top: 40, width: "90%", height: "80%" }
        //    };

        //    var barChart = new google.visualization.ColumnChart(document.getElementById('chart14'));

        //    barChart.draw(view, options);
        //}
        //function drawChart13() {
        //    var data = google.visualization.arrayToDataTable(chartData13);
        //    var view = new google.visualization.DataView(data);
        //    view.setColumns([0, 1,
        //        {
        //            calc: "stringify",
        //            sourceColumn: 1,
        //            type: "string",
        //            role: "annotation"
        //        },
        //        2, {
        //            calc: "stringify",
        //            sourceColumn: 2,
        //            type: "string",
        //            role: "annotation"
        //        }
        //        ,
        //        {
        //            calc: function (dt, row) {
        //                return 0;
        //            },
        //            label: "Total",
        //            type: "number",
        //        },
        //        {
        //            calc: function (dt, row) {
        //                return dt.getValue(row, 1) + dt.getValue(row, 2);
        //            },
        //            type: "number",
        //            role: "annotation"
        //        }
        //    ]);

        //    var options = {
        //        title: "North East Parcel of December 2020",
        //        animation: {
        //            duration: 1000,
        //            easing: 'out',
        //            startup: true
        //        },
        //        backgroundColor: 'transparent',
        //        legend: { position: 'top', maxLines: 3 },
        //        bar: { groupWidth: '75%' },
        //        pointSize: 5,
        //        isStacked: true,
        //        vAxis: {
        //            title: 'point',
        //        },
        //        width: 700,
        //        height: 500,
        //        series: {
        //            2: {
        //                annotations: {
        //                    stem: {
        //                        color: "transparent",
        //                        length: 28
        //                    },
        //                    textStyle: {
        //                        color: "#000000",
        //                    }
        //                },
        //                enableInteractivity: false,
        //                tooltip: "none",
        //                visibleInLegend: false
        //            }
        //        },
        //        chartArea: { left: 20, top: 40, width: "90%", height: "80%" }
        //    };

        //    var barChart = new google.visualization.ColumnChart(document.getElementById('chart13'));

        //    barChart.draw(view, options);

        //}
        //function drawChart12() {
        //    var data = google.visualization.arrayToDataTable(chartData12);
        //    var view = new google.visualization.DataView(data);
        //    view.setColumns([0, 1,
        //        {
        //            calc: "stringify",
        //            sourceColumn: 1,
        //            type: "string",
        //            role: "annotation"
        //        },
        //        2, {
        //            calc: "stringify",
        //            sourceColumn: 2,
        //            type: "string",
        //            role: "annotation"
        //        }
        //        ,
        //        {
        //            calc: function (dt, row) {
        //                return 0;
        //            },
        //            label: "Total",
        //            type: "number",
        //        },
        //        {
        //            calc: function (dt, row) {
        //                return dt.getValue(row, 1) + dt.getValue(row, 2);
        //            },
        //            type: "number",
        //            role: "annotation"
        //        }
        //    ]);

        //    var options = {
        //        title: "North Parcel of December 2020",
        //        animation: {
        //            duration: 1000,
        //            easing: 'out',
        //            startup: true
        //        },
        //        backgroundColor: 'transparent',
        //        legend: { position: 'top', maxLines: 3 },
        //        bar: { groupWidth: '75%' },
        //        pointSize: 5,
        //        isStacked: true,
        //        vAxis: {
        //            title: 'point',
        //        },
        //        width: 700,
        //        height: 500,
        //        series: {
        //            2: {
        //                annotations: {
        //                    stem: {
        //                        color: "transparent",
        //                        length: 28
        //                    },
        //                    textStyle: {
        //                        color: "#000000",
        //                    }
        //                },
        //                enableInteractivity: false,
        //                tooltip: "none",
        //                visibleInLegend: false
        //            }
        //        },
        //        chartArea: { left: 20, top: 40, width: "90%", height: "80%" }
        //    };

        //    var barChart = new google.visualization.ColumnChart(document.getElementById('chart12'));

        //    barChart.draw(view, options);

        //}
        //function drawChart11() {
        //    var data = google.visualization.arrayToDataTable(chartData11);
        //    var view = new google.visualization.DataView(data);
        //    view.setColumns([0, 1,
        //        {
        //            calc: "stringify",
        //            sourceColumn: 1,
        //            type: "string",
        //            role: "annotation"
        //        },
        //        2, {
        //            calc: "stringify",
        //            sourceColumn: 2,
        //            type: "string",
        //            role: "annotation"
        //        }
        //        ,
        //        {
        //            calc: function (dt, row) {
        //                return 0;
        //            },
        //            label: "Total",
        //            type: "number",
        //        },
        //        {
        //            calc: function (dt, row) {
        //                return dt.getValue(row, 1) + dt.getValue(row, 2);
        //            },
        //            type: "number",
        //            role: "annotation"
        //        }
        //    ]);

        //    var options = {
        //        title: "Metro Parcel of December 2020",
        //        animation: {
        //            duration: 1000,
        //            easing: 'out',
        //            startup: true
        //        },
        //        backgroundColor: 'transparent',
        //        legend: { position: 'top', maxLines: 3 },
        //        bar: { groupWidth: '75%' },
        //        pointSize: 5,
        //        isStacked: true,
        //        vAxis: {
        //            title: 'point',
        //        },
        //        width: 700,
        //        height: 500,
        //        series: {
        //            2: {
        //                annotations: {
        //                    stem: {
        //                        color: "transparent",
        //                        length: 28
        //                    },
        //                    textStyle: {
        //                        color: "#000000",
        //                    }
        //                },
        //                enableInteractivity: false,
        //                tooltip: "none",
        //                visibleInLegend: false
        //            }
        //        },
        //        chartArea: { left: 20, top: 40, width: "90%", height: "80%" }
        //    };

        //    var barChart = new google.visualization.ColumnChart(document.getElementById('chart11'));

        //    barChart.draw(view, options);
        //}
        //function drawChart10() {
        //    var data = google.visualization.arrayToDataTable(chartData10);
        //    var view = new google.visualization.DataView(data);
        //    view.setColumns([0, 1,
        //        {
        //            calc: "stringify",
        //            sourceColumn: 1,
        //            type: "string",
        //            role: "annotation"
        //        },
        //        2, {
        //            calc: "stringify",
        //            sourceColumn: 2,
        //            type: "string",
        //            role: "annotation"
        //        }
        //        ,
        //        {
        //            calc: function (dt, row) {
        //                return 0;
        //            },
        //            label: "Total",
        //            type: "number",
        //        },
        //        {
        //            calc: function (dt, row) {
        //                return dt.getValue(row, 1) + dt.getValue(row, 2);
        //            },
        //            type: "number",
        //            role: "annotation"
        //        }
        //    ]);

        //    var options = {
        //        title: "East Parcel of December 2020",
        //        animation: {
        //            duration: 1000,
        //            easing: 'out',
        //            startup: true
        //        },
        //        backgroundColor: 'transparent',
        //        legend: { position: 'top', maxLines: 3 },
        //        bar: { groupWidth: '75%' },
        //        pointSize: 5,
        //        isStacked: true,
        //        vAxis: {
        //            title: 'point',
        //        },
        //        width: 700,
        //        height: 500,
        //        series: {
        //            2: {
        //                annotations: {
        //                    stem: {
        //                        color: "transparent",
        //                        length: 28
        //                    },
        //                    textStyle: {
        //                        color: "#000000",
        //                    }
        //                },
        //                enableInteractivity: false,
        //                tooltip: "none",
        //                visibleInLegend: false
        //            }
        //        },
        //        chartArea: { left: 20, top: 40, width: "90%", height: "80%" }
        //    };

        //    var barChart = new google.visualization.ColumnChart(document.getElementById('chart10'));

        //    barChart.draw(view, options);
        //}
        //function drawChart9() {
        //    var data = google.visualization.arrayToDataTable(chartData9);
        //    var view = new google.visualization.DataView(data);
        //    view.setColumns([0, 1,
        //        {
        //            calc: "stringify",
        //            sourceColumn: 1,
        //            type: "string",
        //            role: "annotation"
        //        },
        //        2, {
        //            calc: "stringify",
        //            sourceColumn: 2,
        //            type: "string",
        //            role: "annotation"
        //        }
        //        ,
        //        {
        //            calc: function (dt, row) {
        //                return 0;
        //            },
        //            label: "Total",
        //            type: "number",
        //        },
        //        {
        //            calc: function (dt, row) {
        //                return dt.getValue(row, 1) + dt.getValue(row, 2);
        //            },
        //            type: "number",
        //            role: "annotation"
        //        }
        //    ]);

        //    var options = {
        //        title: "Center Parcel of December 2020",
        //        animation: {
        //            duration: 1000,
        //            easing: 'out',
        //            startup: true
        //        },
        //        backgroundColor: 'transparent',
        //        legend: { position: 'top', maxLines: 3 },
        //        bar: { groupWidth: '75%' },
        //        pointSize: 5,
        //        isStacked: true,
        //        vAxis: {
        //            title: 'point',
        //        },
        //        width: 700,
        //        height: 500,
        //        series: {
        //            2: {
        //                annotations: {
        //                    stem: {
        //                        color: "transparent",
        //                        length: 28
        //                    },
        //                    textStyle: {
        //                        color: "#000000",
        //                    }
        //                },
        //                enableInteractivity: false,
        //                tooltip: "none",
        //                visibleInLegend: false
        //            }
        //        },
        //        chartArea: { left: 20, top: 40, width: "90%", height: "80%" }
        //    };

        //    var barChart = new google.visualization.ColumnChart(document.getElementById('chart9'));

        //    barChart.draw(view, options);
        //}
        //function drawChart8() {
        //    var data = google.visualization.arrayToDataTable(chartData8);
        //    var view = new google.visualization.DataView(data);
        //    view.setColumns([0, 1,
        //        {
        //            calc: "stringify",
        //            sourceColumn: 1,
        //            type: "string",
        //            role: "annotation"
        //        },
        //        2, {
        //            calc: "stringify",
        //            sourceColumn: 2,
        //            type: "string",
        //            role: "annotation"
        //        },
        //        {
        //            calc: function (dt, row) {
        //                return 0;
        //            },
        //            label: "Total",
        //            type: "number",
        //        },
        //        {
        //            calc: function (dt, row) {
        //                return dt.getValue(row, 1) + dt.getValue(row, 2);
        //            },
        //            type: "number",
        //            role: "annotation"
        //        }
        //    ]);

        //    var options = {
        //        title: "All Parcel of December 2020",
        //        animation: {
        //            duration: 1000,
        //            easing: 'out',
        //            startup: true
        //        },
        //        backgroundColor: 'transparent',
        //        legend: { position: 'top', maxLines: 3 },
        //        bar: { groupWidth: '75%' },
        //        pointSize: 5,
        //        isStacked: true,
        //        vAxis: {
        //            title: 'point',
        //        },
        //        width: 700,
        //        height: 500,
        //        series: {
        //            2: {
        //                annotations: {
        //                    stem: {
        //                        color: "transparent",
        //                        length: 28
        //                    },
        //                    textStyle: {
        //                        color: "#000000",
        //                    }
        //                },
        //                enableInteractivity: false,
        //                tooltip: "none",
        //                visibleInLegend: false
        //            }
        //        },
        //        chartArea: { left: 20, top: 40, width: "90%", height: "80%" }
        //    };

        //    var barChart = new google.visualization.ColumnChart(document.getElementById('chart8'));
        //    barChart.draw(view, options);

        //    //var chart_div = document.getElementById('chart8');
        //    //var chart = new google.visualization.ColumnChart(chart_div);

        //    //// Wait for the chart to finish drawing before calling the getImageURI() method.
        //    //google.visualization.events.addListener(chart, 'ready', function () {
        //    //    chart_div.innerHTML = '<img src="' + chart.getImageURI() + '">';
        //    //    console.log(chart_div.innerHTML);
        //    //});

        //    //chart.draw(view, options);
        //}
        //function drawChart7() {
        //    var data = google.visualization.arrayToDataTable(chartData7);
        //    var view = new google.visualization.DataView(data);
        //    view.setColumns([0, 1,
        //        {
        //            calc: "stringify",
        //            sourceColumn: 1,
        //            type: "string",
        //            role: "annotation"
        //        },
        //        2, {
        //            calc: "stringify",
        //            sourceColumn: 2,
        //            type: "string",
        //            role: "annotation"
        //        }
        //        ,
        //        {
        //            calc: function (dt, row) {
        //                return 0;
        //            },
        //            label: "Total",
        //            type: "number",
        //        },
        //        {
        //            calc: function (dt, row) {
        //                return dt.getValue(row, 1) + dt.getValue(row, 2);
        //            },
        //            type: "number",
        //            role: "annotation"
        //        }
        //    ]);

        //    var options = {
        //        title: "South Customer of December 2020",
        //        animation: {
        //            duration: 1000,
        //            easing: 'out',
        //            startup: true
        //        },
        //        backgroundColor: 'transparent',
        //        legend: { position: 'top', maxLines: 3 },
        //        bar: { groupWidth: '75%' },
        //        pointSize: 5,
        //        isStacked: true,
        //        vAxis: {
        //            title: 'point',
        //        },
        //        width: 700,
        //        height: 500,
        //        series: {
        //            2: {
        //                annotations: {
        //                    stem: {
        //                        color: "transparent",
        //                        length: 28
        //                    },
        //                    textStyle: {
        //                        color: "#000000",
        //                    }
        //                },
        //                enableInteractivity: false,
        //                tooltip: "none",
        //                visibleInLegend: false
        //            }
        //        },
        //        chartArea: { left: 20, top: 40, width: "90%", height: "80%" }
        //    };

        //    var barChart = new google.visualization.ColumnChart(document.getElementById('chart7'));

        //    barChart.draw(view, options);

        //}
        //function drawChart6() {
        //    var data = google.visualization.arrayToDataTable(chartData6);
        //    var view = new google.visualization.DataView(data);
        //    view.setColumns([0, 1,
        //        {
        //            calc: "stringify",
        //            sourceColumn: 1,
        //            type: "string",
        //            role: "annotation"
        //        },
        //        2, {
        //            calc: "stringify",
        //            sourceColumn: 2,
        //            type: "string",
        //            role: "annotation"
        //        }
        //        ,
        //        {
        //            calc: function (dt, row) {
        //                return 0;
        //            },
        //            label: "Total",
        //            type: "number",
        //        },
        //        {
        //            calc: function (dt, row) {
        //                return dt.getValue(row, 1) + dt.getValue(row, 2);
        //            },
        //            type: "number",
        //            role: "annotation"
        //        }
        //    ]);

        //    var options = {
        //        title: "North East Customer of December 2020",
        //        animation: {
        //            duration: 1000,
        //            easing: 'out',
        //            startup: true
        //        },
        //        backgroundColor: 'transparent',
        //        legend: { position: 'top', maxLines: 3 },
        //        bar: { groupWidth: '75%' },
        //        pointSize: 5,
        //        isStacked: true,
        //        vAxis: {
        //            title: 'point',
        //        },
        //        width: 700,
        //        height: 500,
        //        series: {
        //            2: {
        //                annotations: {
        //                    stem: {
        //                        color: "transparent",
        //                        length: 28
        //                    },
        //                    textStyle: {
        //                        color: "#000000",
        //                    }
        //                },
        //                enableInteractivity: false,
        //                tooltip: "none",
        //                visibleInLegend: false
        //            }
        //        },
        //        chartArea: { left: 20, top: 40, width: "90%", height: "80%" }
        //    };

        //    var barChart = new google.visualization.ColumnChart(document.getElementById('chart6'));

        //    barChart.draw(view, options);

        //}
        //function drawChart5() {
        //    var data = google.visualization.arrayToDataTable(chartData5);
        //    var view = new google.visualization.DataView(data);
        //    view.setColumns([0, 1,
        //        {
        //            calc: "stringify",
        //            sourceColumn: 1,
        //            type: "string",
        //            role: "annotation"
        //        },
        //        2, {
        //            calc: "stringify",
        //            sourceColumn: 2,
        //            type: "string",
        //            role: "annotation"
        //        }
        //        ,
        //        {
        //            calc: function (dt, row) {
        //                return 0;
        //            },
        //            label: "Total",
        //            type: "number",
        //        },
        //        {
        //            calc: function (dt, row) {
        //                return dt.getValue(row, 1) + dt.getValue(row, 2);
        //            },
        //            type: "number",
        //            role: "annotation"
        //        }
        //    ]);

        //    var options = {
        //        title: "North Customer of December 2020",
        //        animation: {
        //            duration: 1000,
        //            easing: 'out',
        //            startup: true
        //        },
        //        backgroundColor: 'transparent',
        //        legend: { position: 'top', maxLines: 3 },
        //        bar: { groupWidth: '75%' },
        //        pointSize: 5,
        //        isStacked: true,
        //        vAxis: {
        //            title: 'point',
        //        },
        //        width: 700,
        //        height: 500,
        //        series: {
        //            2: {
        //                annotations: {
        //                    stem: {
        //                        color: "transparent",
        //                        length: 28
        //                    },
        //                    textStyle: {
        //                        color: "#000000",
        //                    }
        //                },
        //                enableInteractivity: false,
        //                tooltip: "none",
        //                visibleInLegend: false
        //            }
        //        },
        //        chartArea: { left: 20, top: 40, width: "90%", height: "80%" }
        //    };

        //    var barChart = new google.visualization.ColumnChart(document.getElementById('chart5'));

        //    barChart.draw(view, options);


        //}
        //function drawChart4() {
        //    var data = google.visualization.arrayToDataTable(chartData4);
        //    var view = new google.visualization.DataView(data);
        //    view.setColumns([0, 1,
        //        {
        //            calc: "stringify",
        //            sourceColumn: 1,
        //            type: "string",
        //            role: "annotation"
        //        },
        //        2, {
        //            calc: "stringify",
        //            sourceColumn: 2,
        //            type: "string",
        //            role: "annotation"
        //        }
        //        ,
        //        {
        //            calc: function (dt, row) {
        //                return 0;
        //            },
        //            label: "Total",
        //            type: "number",
        //        },
        //        {
        //            calc: function (dt, row) {
        //                return dt.getValue(row, 1) + dt.getValue(row, 2);
        //            },
        //            type: "number",
        //            role: "annotation"
        //        }
        //    ]);

        //    var options = {
        //        title: "Metro Customer of December 2020",
        //        animation: {
        //            duration: 1000,
        //            easing: 'out',
        //            startup: true
        //        },
        //        backgroundColor: 'transparent',
        //        legend: { position: 'top', maxLines: 3 },
        //        bar: { groupWidth: '75%' },
        //        pointSize: 5,
        //        isStacked: true,
        //        vAxis: {
        //            title: 'point',
        //        },
        //        width: 700,
        //        height: 500,
        //        series: {
        //            2: {
        //                annotations: {
        //                    stem: {
        //                        color: "transparent",
        //                        length: 28
        //                    },
        //                    textStyle: {
        //                        color: "#000000",
        //                    }
        //                },
        //                enableInteractivity: false,
        //                tooltip: "none",
        //                visibleInLegend: false
        //            }
        //        },
        //        chartArea: { left: 20, top: 40, width: "90%", height: "80%" }
        //    };

        //    var barChart = new google.visualization.ColumnChart(document.getElementById('chart4'));

        //    barChart.draw(view, options);


        //}
        //function drawChart3() {
        //    var data = google.visualization.arrayToDataTable(chartData3);
        //    var view = new google.visualization.DataView(data);
        //    view.setColumns([0, 1,
        //        {
        //            calc: "stringify",
        //            sourceColumn: 1,
        //            type: "string",
        //            role: "annotation"
        //        },
        //        2, {
        //            calc: "stringify",
        //            sourceColumn: 2,
        //            type: "string",
        //            role: "annotation"
        //        }
        //        ,
        //        {
        //            calc: function (dt, row) {
        //                return 0;
        //            },
        //            label: "Total",
        //            type: "number",
        //        },
        //        {
        //            calc: function (dt, row) {
        //                return dt.getValue(row, 1) + dt.getValue(row, 2);
        //            },
        //            type: "number",
        //            role: "annotation"
        //        }
        //    ]);

        //    var options = {
        //        title: "East Customer of December 2020",
        //        animation: {
        //            duration: 1000,
        //            easing: 'out',
        //            startup: true
        //        },
        //        backgroundColor: 'transparent',
        //        legend: { position: 'top', maxLines: 3 },
        //        bar: { groupWidth: '75%' },
        //        pointSize: 5,
        //        isStacked: true,
        //        vAxis: {
        //            title: 'point',
        //        },
        //        width: 700,
        //        height: 500,
        //        series: {
        //            2: {
        //                annotations: {
        //                    stem: {
        //                        color: "transparent",
        //                        length: 28
        //                    },
        //                    textStyle: {
        //                        color: "#000000",
        //                    }
        //                },
        //                enableInteractivity: false,
        //                tooltip: "none",
        //                visibleInLegend: false
        //            }
        //        },
        //        chartArea: { left: 20, top: 40, width: "90%", height: "80%" }
        //    };

        //    var barChart = new google.visualization.ColumnChart(document.getElementById('chart3'));

        //    barChart.draw(view, options);
        //}
        //function drawChart2() {
        //    var data = google.visualization.arrayToDataTable(chartData2);
        //    var view = new google.visualization.DataView(data);
        //    view.setColumns([0, 1,
        //        {
        //            calc: "stringify",
        //            sourceColumn: 1,
        //            type: "string",
        //            role: "annotation"
        //        },
        //        2, {
        //            calc: "stringify",
        //            sourceColumn: 2,
        //            type: "string",
        //            role: "annotation"
        //        },
        //        {
        //            calc: function (dt, row) {
        //                return 0;
        //            },
        //            label: "Total",
        //            type: "number",
        //        },
        //        {
        //            calc: function (dt, row) {
        //                return dt.getValue(row, 1) + dt.getValue(row, 2);
        //            },
        //            type: "number",
        //            role: "annotation"
        //        }
        //    ]);

        //    var options = {
        //        title: "Central Customer of December 2020",
        //        animation: {
        //            duration: 1000,
        //            easing: 'out',
        //            startup: true
        //        },
        //        backgroundColor: 'transparent',
        //        legend: { position: 'top', maxLines: 3 },
        //        bar: { groupWidth: '75%' },
        //        pointSize: 5,
        //        isStacked: true,
        //        vAxis: {
        //            title: 'point',
        //        },
        //        width: 700,
        //        height: 500,
        //        series: {
        //            2: {
        //                annotations: {
        //                    stem: {
        //                        color: "transparent",
        //                        length: 28
        //                    },
        //                    textStyle: {
        //                        color: "#000000",
        //                    }
        //                },
        //                enableInteractivity: false,
        //                tooltip: "none",
        //                visibleInLegend: false
        //            }
        //        },
        //        chartArea: { left: 20, top: 40, width: "90%", height: "80%" }
        //    };

        //    var barChart = new google.visualization.ColumnChart(document.getElementById('chart2'));

        //    barChart.draw(view, options);

        //}

        function drawChart() {
            var data = google.visualization.arrayToDataTable(chartData);
            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                {
                    calc: "stringify",
                    sourceColumn: 1,
                    type: "string",
                    role: "annotation"
                },
                2, {
                    calc: "stringify",
                    sourceColumn: 2,
                    type: "string",
                    role: "annotation"
                },
                {
                    calc: function (dt, row) {
                        return 0;
                    },
                    label: "Total",
                    type: "number",
                },
                {
                    calc: function (dt, row) {
                        return dt.getValue(row, 1) + dt.getValue(row, 2);
                    },
                    type: "number",
                    role: "annotation"
                }

            ]);

            var options = {
                title: "All Customer of December 2020",
                animation: {
                    duration: 1000,
                    easing: 'out',
                    startup: true
                },
                backgroundColor: 'transparent',
                legend: { position: 'top', maxLines: 3 },
                bar: { groupWidth: '75%' },
                pointSize: 5,
                isStacked: true,
                vAxis: {
                    title: 'point',
                },
                width: 700,
                height: 500,
                series: {
                    2: {
                        annotations: {
                            stem: {
                                color: "transparent",
                                length: 28
                            },
                            textStyle: {
                                color: "#000000",
                            }
                        },
                        enableInteractivity: false,
                        tooltip: "none",
                        visibleInLegend: false
                    }
                },
                chartArea: { left: 20, top: 40, width: "90%", height: "80%" }
            };

            var barChart = new google.visualization.ColumnChart(document.getElementById('chart1'));
            barChart.draw(view, options);

        }


        //
        // Slide every slideDelay seconds
        const slideDelay = 8000;

        const dynamicSlider = document.getElementById("slider");

        var curSlide = 0;
        window.setInterval(() => {
            curSlide++;
            if (curSlide === dynamicSlider.childElementCount) {
                curSlide = 0;
            }

            // Actual slide
            dynamicSlider.firstElementChild.style.setProperty("margin-left", "-" + curSlide + "00%");
        }, slideDelay);

                            //
    </script>

}

