
@{
    ViewData["Title"] = "Index";
}

@*<div id="chart" style="width: 550px; height: 400px; margin: 0 auto"></div>
    <canvas id="chart" width="100" height="50"></canvas>*@

<div id="chart_div"></div>

@section Scripts{
    <!-- chart js-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        // Load the Visualization API and the corechart package.
        google.charts.load('current', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        // Load the Visualization API and the piechart package.
        google.charts.load('current', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            debugger;
            var jsonData = $.ajax({
                url: "https://localhost:44396/api/parcelapi/overallcustqty",
                dataType: "json",
                async: false
            }).responseText;

            // Create our data table out of JSON data loaded from server.
            var data = new google.visualization.DataTable(jsonData);
            google.visualization.arrayToDataTable(chartData);

            var options = {
                width: 600,
                height: 400,
                legend: { position: 'top', maxLines: 3 },
                bar: { groupWidth: '75%' },
                isStacked: true
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
            chart.draw(data, { width: 600, height: 240 });
        }

                        //// chart js
                        //var ctx = document.getElementById('chart').getContext('2d');
                        //var myChart = new Chart(ctx, {
                        //    type: 'bar',
                        //    data: {
                        //        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                        //        datasets: [{
                        //            label: '# of Votes',
                        //            data: [12, 19, 3, 5, 2, 3],
                        //            backgroundColor: [
                        //                'rgba(255, 99, 132, 0.2)',
                        //                'rgba(54, 162, 235, 0.2)',
                        //                'rgba(255, 206, 86, 0.2)',
                        //                'rgba(75, 192, 192, 0.2)',
                        //                'rgba(153, 102, 255, 0.2)',
                        //                'rgba(255, 159, 64, 0.2)'
                        //            ],
                        //            borderColor: [
                        //                'rgba(255, 99, 132, 1)',
                        //                'rgba(54, 162, 235, 1)',
                        //                'rgba(255, 206, 86, 1)',
                        //                'rgba(75, 192, 192, 1)',
                        //                'rgba(153, 102, 255, 1)',
                        //                'rgba(255, 159, 64, 1)'
                        //            ],
                        //            borderWidth: 1
                        //        }]
                        //    },
                        //    options: {
                        //        scales: {
                        //            yAxes: [{
                        //                ticks: {
                        //                    beginAtZero: true
                        //                }
                        //            }]
                        //        }
                        //    }
                        //});
    </script>

}

