@model ChangePasswordViewModel

<div class="d-flex justify-content-center">
    <form class="needs-validation" novalidate method="post">
        <div class="card mt-3" style="width:500px">
            <div class="card-body">
                <h4 class="card-title text-center"><b>Change password</b></h4>
                <div class="form-row">
                    <partial name="_Messages" />
                </div>
                <div class="form-row">
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 md-form">
                        <label>Current password</label>
                        <input asp-for="OldPassword" class="form-control" required>
                        <div class="invalid-feedback">
                            Please provide a valid current password.
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 md-form">
                        <label>New password</label>
                        <input asp-for="NewPassword" class="form-control" required>
                        <div class="invalid-feedback">
                            Please provide a valid new password.
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 md-form">
                        <label>Confirm password</label>
                        <input asp-for="ConfirmPassword" class="form-control" required>
                        <div class="invalid-feedback">
                            Please provide a valid confirm password.
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-default rounded-0 px-5"
                                asp-action="ChangePassword"
                                asp-controller="SubContacts">
                            <i class="fas fa-save pr-2"
                               aria-hidden="true"></i>Save
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Styles{
    <link href="~/lib/bootstrap/dist/css/mdb-pro.min.css" rel="stylesheet" />
    <style>
        body {
            /* Margin bottom by footer height */
            margin-bottom: 60px;
            font-family: Prompt, sans-serif;
            min-height: 75rem;
            /*padding-top: 4.5rem;*/
        }

        a:hover {
            cursor: pointer
        }
    </style>
}

@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
}