<div style="height:25px">
    <div style="width:45%;text-align:left;float:left">
        <span style="font-size:14px">รายงานการสอบสวนอุบัติเหตุ</span>
    </div>
    <div style="width:55%;text-align:left;float:right">
        <span style="font-size:15px;font-family:Tahoma">Accident Report </span>
    </div>
</div>
<div style="width:100%;text-align:left">
    <span style="font-size:14px">บริษัท เอสซีจี ยามาโต๊ะ เอ็กซ์เพรส จำกัด</span>
</div>

<h1>Page 6</h1><div style="height:300px;border:solid #000 1px"></div>