@model TruckInspectionCategory

<form asp-action="Create" method="post" class="needs-validation" novalidate>
    <div class="row">
        <div class="col-md-4 md-form">
            <label for="Name">ชื่อรายการตรวจหลัก</label>
            <input asp-for="Name" class="form-control" required />
            <div class="invalid-feedback">
                กรุณากรอกชื่อ!
            </div>
        </div>
        <div class="col-md-4">
            <button asp-action="Create" class="btn btn-primary" id="btnAdd">
                <i class="far fa-save"></i>
                Add
            </button>
        </div>
    </div>

</form>