
@{
    ViewData["Title"] = "Index";
}

<!-- Classic tabs -->
<div class="container-fluid">
    <partial name="_Messages" />
</div>
<div class="classic-tabs mt-3 shadow-lg">
    <h1 class="ml-1"> <i class="fas fa-chart-bar"></i> รายงานสรุประยะทาง</h1>
    <ul class="nav tabs-cyan" id="myClassicTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link  waves-light active show" id="profile-tab-classic" data-toggle="tab" href="#yearly-distance"
               role="tab" aria-controls="profile-classic" aria-selected="true"><span style="font-size:1.5em">รายปี</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" id="contact-tab-classic" data-toggle="tab" href="#month-distance" role="tab"
               aria-controls="contact-classic" aria-selected="false"><span style="font-size:1.5em">รายสาขา/รายเดือน</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" id="follow-tab-classic" data-toggle="tab" href="#day-distance" role="tab"
               aria-controls="follow-classic" aria-selected="false"><span style="font-size:1.5em">รายสาขา/รายวัน</span></a>
        </li>
    </ul>
    <div class="tab-content border-right border-bottom border-left rounded-bottom" id="myClassicTabContent">
        <div class="tab-pane fade active show" id="yearly-distance" role="tabpanel" aria-labelledby="profile-tab-classic">
            <div class="form-row ml-3">
                <div class="col-md-3 md-form">
                    <select class="mdb-select px-3" searchable="Search here.." id="selectYear">
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                        <option value="2028">2028</option>
                        <option value="2029">2029</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-mdb-color ml-4 mt-3" id="btnSearchYear">Search</button>
                </div>
            </div>
            <div class="form-row ml-3 container-fluid">
                <div class="col-md-12">
                    <div id="datayear" class="px-1">
                        <partial name="_TableDistanceYear" />
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="month-distance" role="tabpanel" aria-labelledby="contact-tab-classic">
            <div class="form-row ml-3 container-fluid">
                <div class="col-md-2 md-form">
                    <select class="mdb-select px-3" searchable="Search here.." id="selectMYear">
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                        <option value="2028">2028</option>
                        <option value="2029">2029</option>
                    </select>
                </div>
                <div class="mt-3 mx-3 col-md-3">
                    <div style="margin-top:-15px">
                        <select asp-items="@ViewBag.Months" id="selectMonth"
                                class="mdb-select md-form" searchable="Search here..">
                            <option value="" disabled selected>เดือน</option>
                        </select>
                    </div>
                </div>
                <div class="mt-3 col-md-3 mx-3">
                    <div style="margin-top:-15px">
                        <select asp-items="@ViewBag.MBranches" id="selectBranch"
                                class="mdb-select md-form" searchable="Search here..">
                            <option value="" disabled selected>สาขา</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2 mt-3">
                    <button class="btn btn-mdb-color" id="btnSearchMonth">Search</button>
                </div>
                <div class="form-row ml-3 container-fluid">
                    <div class="col-md-12">
                        <div id="databranchmonth" class="px-1">
                            <partial name="_TableMonthlyBranch" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="day-distance" role="tabpanel" aria-labelledby="follow-tab-classic">
            <div class="form-row ml-3 container-fluid">
                <label class="mt-3 mx-3">สาขา </label>
                <div class="col-md-3" style="margin-top:-15px">
                    <select id="selectDayBranch" asp-items="@ViewBag.Branches"
                            class="mdb-select md-form" searchable="Search here..">
                        <option value="" disabled selected>สาขา</option>
                    </select>
                </div>
                <label for="truckInspectionDate" class="mt-2 ml-5 mt-3">วันที่ตรวจ</label>
                <div class="col-md-2">
                    <div class="md-form ml-2"> <input type="text" id="truckInspectionDate" placeholder="dd/MM/yyyy"></div>
                </div>
                <div class="col-md-2 offset-1">
                    <button class="btn btn-mdb-color" id="btnSearchDay">Search</button>
                </div>
                <div class="form-row ml-3 container-fluid">
                    <div class="col-md-12">
                        <div id="databranchday" class="px-1">
                            <partial name="_TableDailyBranch" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Central Modal Small -->
<div class="modal fade" id="distanceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">

    <!-- Change class .modal-sm to change the size of the modal -->
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body pb-0" id="datamonth">
                <partial name="_TableDistanceMonth" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Central Modal Small -->
<!-- Classic tabs -->
@section Styles{

    <link href="~/css/jquery.datetimepicker.min.css" rel="stylesheet" />

    <!-- Material Design Bootstrap -->
    <link href="~/lib/bootstrap/dist/css/mdb-pro.min.css" rel="stylesheet" />
    <style>
   
        a:hover {
            cursor: pointer
        }

        .section-preview {
            border: 1px solid #e0e0e0;
            padding: 15px;
        }
    </style>

}

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/jquery.datetimepicker.full.min.js"></script>
    <!-- MDB core JavaScript -->
    <script src="~/lib/bootstrap/dist/js/mdb.min.js"></script>

    <script>

        $(document).ready(function () {
            $('.mdb-select').materialSelect();
            //$('.mdb-select.select-wrapper .select-dropdown').val("").removeAttr('readonly').attr("placeholder",
            //    "โปรดเลือกปี").prop('required', true).addClass('form-control').css('background-color', '#fff');

            $('#datayear').hide();
            $('#databranchmonth').hide();

            $('#truckInspectionDate').datetimepicker({
                timepicker: false,
                format: 'Y/m/d',
            });
        });

        //1
        $('#btnSearchYear').on('click', () => {
            const id = $('#selectYear').val();
            const url = `/DistanceReports/GetDistanceYear/${id}`;
            $.get(url).then(res => {
                $('#datayear').show();
                $('#datayear').html(res);
            }).done(() => {
                alertify.success('Done');
            });
        })

        //2
        function fnMonthlyModal(year, month) {
            const url = `/DistanceReports/GetDistanceMonth?year=${year}&&month=${month}`;
            $.get(url).then(res => {
                $('#distanceModal').modal('show');
                $('#datamonth').html(res);
            });
        }

        //3
        $('#btnSearchMonth').on('click', () => {
            $('#databranchmonth').hide();
            const year = $('#selectMYear').val();
            const month = $('#selectMonth').val();
            const branch = $('#selectBranch').val();
            const url = `/DistanceReports/GetDistanceByBranchMonth?year=${year}&month=${month}&branch=${branch}`;
            $.get(url).then(res => {
                $('#databranchmonth').show();
                $('#databranchmonth').html(res);
            }).done(() => {
                const c = $('#C').val();
                if (c > 0) {
                    alertify.success('Done');
                } else {
                    alertify.error('Data not found.');
                }
            });
        });

        //4
        $('#btnSearchDay').on('click', () => {
            $('#databranchday').hide();
            const day = $('#truckInspectionDate').val();
            const branch = $('#selectDayBranch').val();
            const url = `/DistanceReports/GetDistanceByBranchDay?day=${day}&branch=${branch}`;
            $.get(url).then(res => {
                $('#databranchday').show();
                $('#databranchday').html(res);
            }).done(() => {
                const c = $('#CDay').val();
                if (c > 0) {
                    alertify.success('Done');
                } else {
                    alertify.error('Data not found.');
                }
            });
        });

    </script>
}