@{
    ViewData["Title"] = "Home Page";
}
<div id="loading" class="text-center">
    <img src="~/images/loading.gif" />
</div>
<div class="text-center">
    <partial name="_Messages" />
</div>

<!-- Card deck -->
<div class="card-deck mt-5 mb-5">
    <!-- Card -->
    <div class="card mb-4">
        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top"
                 src="~/images/imgSlide1.jpg">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <!--Card content-->
        <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Card title</h4>
            <!--Text-->
            <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the card's
                content.
            </p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-light-blue btn-md">Read more</button>

        </div>

    </div>
    <!-- Card -->
    <!-- Card -->
    <div class="card mb-4">
        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top"
                 src="~/images/imgSlide2.jpg">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <!--Card content-->
        <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Card title</h4>
            <!--Text-->
            <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the card's
                content.
            </p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-light-blue btn-md">Read more</button>

        </div>

    </div>
    <!-- Card -->
    <!-- Card -->
    <div class="card mb-4">
        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top"
                 src="~/images/imgSlide3.jpg">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Card title</h4>
            <!--Text-->
            <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the card's
                content.
            </p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-light-blue btn-md">Read more</button>
        </div>
    </div>
    <!-- Card -->
</div>
<!-- Card deck -->

<!--Carousel Wrapper-->
<!--<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">-->
<!--Controls-->
<!--<div class="controls-top">
    <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
    <a class="btn-floating" href="#multi-item-example" data-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>-->
<!--/.Controls-->
<!--Indicators-->
<!--<ol class="carousel-indicators">
    <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
    <li data-target="#multi-item-example" data-slide-to="1"></li>
    <li data-target="#multi-item-example" data-slide-to="2"></li>
</ol>-->
<!--/.Indicators-->
<!--Slides-->
<!--<div class="carousel-inner" role="listbox">-->
<!--First slide-->
<!--<div class="carousel-item active">
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top"
                 src="~/images/imgSlide2.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                </p>
                <a class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top"
                 src="~/images/imgSlide4.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                </p>
                <a class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top"
                 src="~/images/imgSlide3.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                </p>
                <a class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>

</div>-->
<!--/.First slide-->
<!--Second slide-->
<!--<div class="carousel-item">

    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top"
                 src="~/images/imgSlide5.jpg">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                </p>
                <a class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top"
                 src="~/images/imgSlide1.jpg">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                </p>
                <a class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top"
                 src="~/images/imgSlide2.jpg">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                </p>
                <a class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>

</div>-->
<!--/.Second slide-->
<!--Third slide-->
<!--<div class="carousel-item">

    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top"
                 src="~/images/imgSlide3.jpg">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                </p>
                <a class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top"
                 src="~/images/imgSlide4.jpg">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                </p>
                <a class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top"
                 src="~/images/imgSlide5.jpg">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                </p>
                <a class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>

</div>-->
<!--/.Third slide-->
<!--</div>-->
<!--/.Slides-->
<!--</div>-->
<!--/.Carousel Wrapper-->
